<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="my-5 text-center", style="background-color: silver; width: 45%">
          <%= @customer.last_name + @customer.first_name %>さんの会員詳細
      </h3>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2">
      <h5>会員ID</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>氏名</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.last_name + "　" + @customer.first_name %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>フリガナ</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.last_name_kana + "　" + @customer.first_name_kana %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>郵便番号</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.postal_code %>
     </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>住所</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>電話番号</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>メールアドレス</h5>
    </div>
    <div class="col-md-7 h5">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h5>会員ステータス</h5>
    </div>
    <div class="col-md-7 h5">
      <% if @customer.is_deleted %>
      <span class="text-black-50 font-weight-bold">退会</span>
      <% else %>
      <span class="text-success font-weight-bold">有効</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-7">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success mr-5' %>
      <%= link_to "注文履歴一覧を見る", admin_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>