<div class="container">
  <div class="row">
    <div class="col-md-7">
    <h3 class="my-5"><span style="background-color: silver">ジャンル編集</span></h3>

    <% if @genre.errors.any? %>
　    <div id="error_explanation" class="w-50" style="border: 1.5px solid red">
　      <%= @genre.errors.count %>件のエラーが発生しました
　      <ul class="mb-0">
　        <% @genre.errors.full_messages.each do |message| %>
　        <li><%= message %></li>
　        <% end %>
　      </ul>
　    </div>
　  <% end %>

    <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch, class: 'my-5 form-inline' do |f| %>
    <div class="col-md-8 form-group">
      <%= f.label :genre, "ジャンル名", class: 'mr-5' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-4 actions ">
      <%= f.submit '変更を保存', class: 'btn btn-success' %>
    </div>
    <% end %>
    </div>
  </div>
</div>